@page
@model Web_Application.Pages.PasswordResetModel
@{
}

<div class="Form-content">
	<form class="form-design" method="post">
		<h4 style="@Model.display" class="">@Model.message</h4>
		<h1>Reset Password</h1>
		<label class="lbl-user-input">Email</label>
		<input asp-for="Email" class="user-input" type="email" />
		<span class="warning-span" asp-validation-for="Email"></span>
		<label class="lbl-user-input">New Password</label>
		<input asp-for="Password" class="user-input" type="password" />
		<span class="warning-span" asp-validation-for="Password"></span>
		<input type="submit" value="Reset" class="user-input btn-user-input" />
	</form>
</div>

@section scripts{
	<partial name="_ValidationScriptsPartial" />
}
